header {
    position: fixed;
    background: white;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
  }
  .nav-center {
    width: 90vw;
    max-width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .nav-center h3 {
    margin-bottom: 0;
    font-size: 1.5rem;
    color: #d87093;
  }
  .nav-links {
    display: flex;
    padding-top: 5%;
    padding-left: 10rem;
    font-size: 1rem;
    visibility: hidden;
  }
  header a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
    letter-spacing: 0.1rem;
    margin-right: 2rem;
    visibility: visible;
  }
  header a:hover {
    color: palevioletred;
  }

  main {
    min-height: calc(100vh - 2rem);
    display: grid;
    place-items: center;
  }
  .container {
    text-align: center;
  }
  .container h2 {
    background: rgb(26, 22, 23);
    color: white;
    padding: 1rem;
    border-radius: 25px;
    margin-bottom: 2.5rem;
  }

  .container h2 span{
    color: palevioletred;
    padding: 1rem;
    letter-spacing: 2px;
    border-radius: 25px;
    margin-bottom: 2.5rem;
  }

.container .btn {
    background: transparent;
    font-size: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;

}
  .color {
    color: var(--clr-primary-5);
  }
  